{% extends 'base.html.twig' %}

{% block title %}Hello AdoptionController!{% endblock %}

{% block body %}

    {% for dog in dogs %}
        <div>
            <h1>{{ dog.name }}</h1>
            <img src="{{ dog.img }}" alt="">
        </div>
    {% endfor %}
{% endblock %}
