{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
    <form action="" class="form">
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
    </form>
{% endblock %}
