<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Qui sont jolis ces poilus!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="" class="nav-link active">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href=" " class="nav-link active">
                            Les chiens à l'adoption
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href=" " class="nav-link active">
                            Conditions d'adoption
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href=" " class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}

<div class="container-fluid"> {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>

